:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 3px solid #ccc;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaa;
}

.video-bottom-section {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
}

.channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #000;
}

.video-channel-name,
.video-metadata {
  text-decoration: none;
  color: #555;
}

.video-channel-name {
  margin-bottom: 0.1rem;
  transition: color 150ms;
}

.video-channel-name:hover {
  color: #111;
}
